.card {
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--card);
    color: var(--card-foreground);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    padding: 1.5rem;
}

.title {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
}

.description {
    font-size: 0.875rem;
    color: var(--muted);
}

.content {
    padding: 1.5rem;
    padding-top: 0;
}

.footer {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    padding-top: 0;
}