.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--muted);
}

.input {
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--background);
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    color: var(--foreground);
    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
}

.input:focus-visible {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--ring);
}

.input::placeholder {
    color: var(--muted);
    opacity: 0.5;
}

.input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}